<!-- 
Material dialog was used to create this file.

https://material.angular.io/components/dialog/overview

-->

<h5 mat-dialog-title>Select date to extend</h5>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" id="date" placeholder="Choose a end date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <div class="row">
        <div class="col col-md-6 col-sm-6 col-lg-6">
            <button type="button" class="btn btn-dark btn-sm " id="savebtn"
            (click)="saveData()">Save</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-dark btn-sm " id="savebtn"
            (click)="closeModel()">Close</button>
        </div>
       
    </div>

</div>