<!-- Image used were retrieved from  : 
1. https://www.lenovo.com/medias/lenovo-laptop-thinkpad-l480-series-front.png?context=bWFzdGVyfHJvb3R8MTgyMDd8aW1hZ2UvcG5nfGhlNS9oNTAvOTkxMjUxNTg4NzEzNC5wbmd8YzVmYjRmZGZjZmQyYWQxZjY2MjUyZmU0MGNhZjI2MjhiYWViY2U0NTJiY2NhMWYwOWJmMzhjNDM3MjRkYzlhYw 
2. https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/macbook-air-space-gray-config-201810?wid=1078&hei=624&fmt=jpeg&qlt=80&.v=1539386809517
3. https://cdn.shopify.com/s/files/1/0036/4806/1509/products/m006963107_38d85271-1813-45d2-a361-4d2249cb0e76_1000x1000@3x.jpg?v=1580229326
4. https://i.dell.com/sites/csimages/Video_Imagery/all/xps_7590_touch.png
5. https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyV0LepdfJDRIZ-8X2SgeZAirNjsZWpyyCkNdtiU_LrIp61XQd&s
6  https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6219/6219200_sd.jpg

-->

<div class="container py-5">
    <div class="list-group list-group-horizontal" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action active d-flex justify-content-center" data-toggle="list"
            href="#home" role="tab">Current
            Orders</a>
        <a class="list-group-item list-group-item-action d-flex justify-content-center" data-toggle="list"
            href="#profile" role="tab">Past Orders</a>

    </div>


    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">

            <div class="row row-cols-1 row-cols-md-3">

                <div class="col mb-4" *ngFor="let current of currentOrders">
                    <div class="card" >
                        <div class="embed-responsive embed-responsive-1by1">
                        <img src={{current.productImg}} style="cursor: pointer;" (click)="navProduct(current.productID)"
                            class="card-img-top embed-responsive-item" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-center">Order # {{current.orderid}}</h5>
                            <p class="card-text" style="text-align: center;">{{current.Company}} {{current.Product}}
                            </p>
                            <button type="button" class="btn btn-dark btn-sm" >Extend Rent
                                Period</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="tab-pane" id="profile" role="tabpanel">

            <div class="row row-cols-1 row-cols-md-3">

                <div class="col mb-4" *ngFor="let current of pastOrders">
                    <div class="card" >
                        <div class="embed-responsive embed-responsive-1by1">
                        <img src={{current.productImg}} (click)="navProduct(current.productID)"
                            class="card-img-top embed-responsive-item" 
                            alt="https://images-na.ssl-images-amazon.com/images/I/61aOa%2B4v4IL._AC_SX425_.jpg">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-center">Order # {{current.orderid}}</h5>
                            <p class="card-text" style="text-align: center;">{{current.Company}} {{current.Product}}
                            </p>
                            <!-- <a (click)="openDialog(current.productID)" class="btn btn-dark">Review Product</a> -->
                             <button type="submit" class="btn btn-dark btn-sm" 
                            (click)="openDialog(current.productID)">Review Product</button>
                        </div>
                    </div>
                    <!-- <button type="submit" class="btn btn-dark btn-sm"   
                            (click)="openDialog(current.productID)">Review Product</button> -->
                </div>



            </div>

        </div>

    </div>

    <div class="modal fade" id="reviewProd">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Review Product</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <p>Write a review</p>

                    <form class="customForm needs-validation" novalidate [formGroup]="reviewForms">

                        <div class="form-group">
                            <textarea class="form-control" formControlName="review" id="reviews" rows="3"
                                required></textarea>
                            <div *ngIf="(reviewForms.get('review').invalid && onInit) || 
                                (reviewForms.get('review').invalid && (reviewForms.get('review').dirty ||
                                reviewForms.get('review').touched))" class="alert alert-danger">
                                <div *ngIf="reviewForms.get('review').errors.required">
                                    Please enter your review
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="onSave()" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    $(function () {
        $('#myList a:last-child').tab('show')
    })
</script>