<!--Image name="Dell-Latitude-14-5480.-600x400" Source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTywizBKXLxL4zXDk_QwmGhn6zyai-pSUSSsTr810J-dI9S27cp&s"-->
<!--Image name="Macbook-Pro-15-Retina-600x400.jpg,download.jfif" Source="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.geeknews.link%2Fwp-content%2Fuploads%2Ffly-images%2F1239354%2Flenovo-yoga-slim-7-laptop-comes-in-intel-and-amd-variants-600x400-c.jpg&imgrefurl=https%3A%2F%2Fwww.geeknews.link%2Flenovo-announces-yoga-smart-tab-and-smart-tab-m8-android-tablets-with-google-assistant%2F&docid=q9pc2GP57-d6HM&tbnid=UHbNeB7XQRrDwM%3A&vet=10ahUKEwiigYyW3rHnAhUClHIEHQ8XCS4QMwhkKAIwAg..i&w=600&h=400&itg=1&hl=en-CA&bih=754&biw=1536&q=lenovo%20yoga%20slim%207&ved=0ahUKEwiigYyW3rHnAhUClHIEHQ8XCS4QMwhkKAIwAg&iact=mrc&uact=8"-->
<!--Image name="laptop-600x400.jpg"  source="https://lh3.googleusercontent.com/UWP6DEpQrWk_Kaa3jhaarz1JFLqf9OOdaAQpdeXqcTYyBM3iFMfYqJC-yJzlqs9IPYkX=s128-->
<div class="container-fluid">
    <div class="row-fluid banner-row">
      <div id="banner" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#banner" data-slide-to="0" class="active"></li>
          <li data-target="#banner" data-slide-to="1"></li>
          <li data-target="#banner" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active" style="cursor: pointer;" (click)="goToSearch('macbook')">
            <img src="assets\download.png" width="900" height="500">
          </div>
          <div class="carousel-item" style="cursor: pointer;" (click)="goToSearch('alien')">
            <img src="assets\banner2.png" width="900" height="500">
          </div>
          <div class="carousel-item" style="cursor: pointer;" (click)="goToSearch('inspiron')">
            <img src="assets\banner3.png" width="900" height="500">
          </div>
        </div>
        <a class="carousel-control-prev" href="#banner" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#banner" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  
    <div class="row-fluid laptopStudents">
      <h4>Laptops for Students</h4>
      <hr />
      <div class="card-deck">
        <div *ngFor="let sp of studentProducts" class="card mb-4" style="cursor: pointer;" (click)="goToProduct(sp.productID)">
          <div class="embed-responsive embed-responsive-1by1">
          <img class="card-img-top embed-responsive-item" src="{{sp.productImg}}" alt="Card image cap">
        </div>
          <div class="card-body">
            <h5 class="card-title" class="text-center">{{sp.company}} {{sp.product}}</h5> 
          </div>
        </div>
        <!-- <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top img-fluid" src="assets\download.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Microsoft surface</h5>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top img-fluid" src="assets\Dell-Latitude-14-5480.-600x400.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dell Latitude</h5>
          </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top img-fluid" src="assets\laptop-600x400.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lenovo Legion</h5>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top" src="assets\macbookpro.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Apple Macbook-Pro</h5>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row-fluid laptopBusiness">
      <h4>Laptops for Business</h4>
      <hr />
      <div class="card-deck">
        <div *ngFor="let bp of businessProducts" class="card mb-4" style="cursor: pointer;" (click)="goToProduct(bp.productID)">
          <div class="embed-responsive embed-responsive-1by1">
          <img class="card-img-top embed-responsive-item" src="{{bp.productImg}}" alt="Card image cap">
        </div>
          <div class="card-body">
            <h5 class="card-title" class="text-center">{{bp.company}} {{bp.product}}</h5>
          </div>
        </div>
        <!-- <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top img-fluid" src="assets\download.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Microsoft surface</h5>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top img-fluid" src="assets\Dell-Latitude-14-5480.-600x400.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dell Latitude</h5>
          </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top img-fluid" src="assets\laptop-600x400.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lenovo Legion</h5>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="card mb-4" style="cursor: pointer;" (click)="goToProduct()">
          <img class="card-img-top" src="assets\macbookpro.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Apple Macbook-Pro</h5>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row-fluid laptopGaming">
      <h4>Laptops for Gaming</h4>
      <hr />
      <div class="card-deck">
        <div *ngFor="let gp of gamingProducts" class="card mb-4" style="cursor: pointer;" (click)="goToProduct(gp.productID)">
          <div class="embed-responsive embed-responsive-1by1">
          <img class="card-img-top embed-responsive-item" src="{{gp.productImg}}" alt="Card image cap">
        </div>
          <div class="card-body">
            <h5 class="card-title" class="text-center">{{gp.company}} {{gp.product}}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

