#vert {
    border-right: 0.5px dotted black;
    
   
  }
  
  .mat-form-field,.input-col{
    width: 80%;
  }

  @media screen and (min-width: 601px) {
    .card-title,.card-text {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    .card-title,.card-text {
      font-size: 10px;
    }
  }

  
  .card-img-top,.img-fluid {
  object-fit: contain;
}



