@media screen and (min-width: 601px) {
    .card-title,.card-text,.h5 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    .card-title,.card-text,.h5 {
      font-size: 10px;
    }
  }