.row{
    margin: 0px;
}
.productpage{
    padding-top: 5%;
}

.checkButton{
    padding: 2%;
}

.quantityField
{
    padding: 2%;
}

.checked {
    color: orange;
  }

.star-rating{
    padding-bottom: 2%;
}

.viewRatings{
    padding-left: 2%;
}
.technicalDetails{
    padding-top: 2%;
}

.userReview{
    padding: 0.5%;
}

html {
    scroll-behavior: smooth;
}